<section class="homepage">
    <video id="bgVideo" class="video-js vjs-default-skin" autoplay muted loop preload="auto" playsinline>
        <source src="assets/videos/homepageMotw.mp4" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
    </video>
    <div class="overlay"></div>
    <div class="home-content">
        <h1>OPOSICIONES EDUCACIÓN</h1>
        <h3>PORQUE YA LO LOGRÉ, AHORA TE AYUDO A LOGRARLO</h3>
        <h4>Mi principal objetivo es que cada uno de mis alumnos logre su plaza en las oposiciones de Primaria y Secundaria. 
            <br>Los cursos están diseñados para ofrecerte una preparación completa: desde el dominio del temario, la resolución de supuestos prácticos, hasta la preparación de la defensa oral de la programación y unidades didácticas.
            <br>En las clases, no solo se proporciona el material y los recursos necesarios, sino que también se le transmite al opositor la motivación y la confianza que necesita para que, al igual que yo conseguí mi plaza, tú también logres la tuya.
            <br> ¡Tu éxito es mi compromiso!
        </h4>

    </div>

</section>