<section class="hero">
  <div class="hero-content">
    <div class="text">
      <p class="tagline">Academia oposiciones educación</p>
      <h1>Arrasa en tu oposición.<br>Porque ya lo logré, ahora te ayudo a lograrlo.</h1>
      <p class="description">
        Mi principal objetivo es que cada uno de mis alumnos logre su plaza en las oposiciones de Primaria, PT y Secundaria. 
        Los cursos están diseñados para ofrecerte una preparación completa: desde el dominio del temario, la resolución de supuestos prácticos, hasta la preparación de la defensa oral de la programación y situaciones de aprendizaje.
        En las clases, no solo se proporciona el material y los recursos necesarios, sino que también se le transmite al opositor la motivación y la confianza que necesita para que, al igual que yo conseguí mi plaza, tú también logres la tuya.
        ¡Tu éxito es mi compromiso! 
      </p>
      <!-- <button class="cta">
        🚀 Apúntate al curso de formación y haz realidad tu plaza
      </button> -->
    </div>
    <div class="image">
      <img src="../../../../assets/homepage/Ramon_sinfondo.png" alt="Mentor de oposiciones">
    </div>
  </div>
</section>