<section class="libros-container">
    <div class="libros-header">
      <h1>MIS LIBROS</h1>
      <p class="intro-text">Aquí te presento algunos de los libros que he escrito...</p>
    </div>
    <div class="libros-grid">
      <div class="libro-item">
        <a href="https://www.amazon.es/supuestos-pr%C3%A1cticos-educaci%C3%B3n-Terap%C3%A9utica-Orientaci%C3%B3n/dp/8418854308/ref=sr_1_2?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2EJKAEMG1B3DA&dib=eyJ2IjoiMSJ9.L1b6iFlb58OKSzULRxjq19ripoyI3T-oPR9q7CEseKDGjHj071QN20LucGBJIEps.nProyMmM0jzQkEsq3f7hQ0POl40J86OVYePEBI9gRFI&dib_tag=se&keywords=libro+ramon+valls+corrochano&qid=1728129753&sprefix=libro+ramon+valls+corrochan%2Caps%2C165&sr=8-2" target="_blank">
            <img src="../../../assets/libros/libro1.jpg" alt="Portada del Libro 1">
        </a>
        <h3>El método de los 7 puntos</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac ante turpis. Nullam vitae vehicula libero.</p>
        <h4>Comprar en:</h4>
        <a href="https://www.amazon.es/supuestos-pr%C3%A1cticos-educaci%C3%B3n-Terap%C3%A9utica-Orientaci%C3%B3n/dp/8418854308/ref=sr_1_2?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2EJKAEMG1B3DA&dib=eyJ2IjoiMSJ9.L1b6iFlb58OKSzULRxjq19ripoyI3T-oPR9q7CEseKDGjHj071QN20LucGBJIEps.nProyMmM0jzQkEsq3f7hQ0POl40J86OVYePEBI9gRFI&dib_tag=se&keywords=libro+ramon+valls+corrochano&qid=1728129753&sprefix=libro+ramon+valls+corrochan%2Caps%2C165&sr=8-2" target="_blank">Amazon</a><br>
        <a href="https://www.elcorteingles.es/libros/A41608753-todo-sobre-supuestos-practicos-en-educacion-el-metodo-de-los-7-puntos-primaria-pedagogia-terapeutica-eso-y-orientacion-tapa-blanda/?color=default" target="_blank">Corte inglés</a><br>
        <a href="https://www.ellibrotecnico.com/libro/todo-sobre-supuestos-practicos-en-educacion-el-metodo-de-los-7-puntos_605681" target="_blank">Libro técnico</a><br>
        <a href="https://www.agapea.com/Ramon-Valls-Corrochano/Todo-sobre-supuestos-practicos-en-educacion-El-metodo-de-los-7-puntos-Primari-Pedagogia-Terapeutica-ESO-y-Orientacion-9788418854309-i.htm" target="_blank">Agapea (Canarias)</a><br>
      </div>
      <div class="libro-item">
        <a href="https://www.amazon.es/Programaci%C3%B3n-Did%C3%A1ctica-Situaciones-Aprendizaje-LOMLOE/dp/8419391409/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2EJKAEMG1B3DA&dib=eyJ2IjoiMSJ9.L1b6iFlb58OKSzULRxjq19ripoyI3T-oPR9q7CEseKDGjHj071QN20LucGBJIEps.nProyMmM0jzQkEsq3f7hQ0POl40J86OVYePEBI9gRFI&dib_tag=se&keywords=libro+ramon+valls+corrochano&qid=1728131486&sprefix=libro+ramon+valls+corrochan%2Caps%2C165&sr=8-1" target="_blank">
            <img src="../../../assets/libros/libro2.jpg" alt="Portada del Libro 2">
        </a>
        
        <h3>Programación didáctica y situaciones de aprendizaje desde la LOMLOE</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac ante turpis. Nullam vitae vehicula libero.</p>
        <h4>Comprar en:</h4>
        <a href="https://www.amazon.es/Programaci%C3%B3n-Did%C3%A1ctica-Situaciones-Aprendizaje-LOMLOE/dp/8419391409/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2EJKAEMG1B3DA&dib=eyJ2IjoiMSJ9.L1b6iFlb58OKSzULRxjq19ripoyI3T-oPR9q7CEseKDGjHj071QN20LucGBJIEps.nProyMmM0jzQkEsq3f7hQ0POl40J86OVYePEBI9gRFI&dib_tag=se&keywords=libro+ramon+valls+corrochano&qid=1728131486&sprefix=libro+ramon+valls+corrochan%2Caps%2C165&sr=8-1" target="_blank">Amazon</a><br>
        <a href="https://www.elcorteingles.es/libros/A46265452-programacion-didactica-y-situaciones-de-aprendizaje-desde-la-lomloe-tapa-blanda/?stype=text_box_multi&color=default" target="_blank">Corte inglés</a><br>
        <a href="https://www.ellibrotecnico.com/libro/programacion-didactica-y-situaciones-de-aprendizaje-desde-la-lomloe_632211" target="_blank">Libro técnico</a><br>
        <a href="https://www.agapea.com/Ramon-Valls-Corrochano/Programacion-Didactica-y-Situaciones-de-Aprendizaje-desde-la-LOMLOE-9788419391407-i.htm" target="_blank">Agapea (Canarias)</a><br>
      </div>
      <div class="libro-item">
        <img src="ruta-a-la-portada3.jpg" alt="Portada del Libro 3">
        <h3>Título del Libro 3</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac ante turpis. Nullam vitae vehicula libero.</p>
        <h4>Comprar en:</h4>
        <a  target="_blank">Amazon</a><br>
        <a  target="_blank">Corte inglés</a><br>
        <a target="_blank">Libro técnico</a><br>
        <a  target="_blank">Agapea (Canarias)</a><br>
      </div>
    </div>
  </section>
  
