<section class="libros-container">
    <div class="libros-header">
      <h1>MIS LIBROS</h1>
      <p class="intro-text">Aquí te presento algunos de los libros que he escrito...</p>
    </div>
    <div class="libros-grid">
      <div class="libro-item">
        <a href="https://www.amazon.es/supuestos-pr%C3%A1cticos-educaci%C3%B3n-Terap%C3%A9utica-Orientaci%C3%B3n/dp/8418854308/ref=sr_1_2?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2EJKAEMG1B3DA&dib=eyJ2IjoiMSJ9.L1b6iFlb58OKSzULRxjq19ripoyI3T-oPR9q7CEseKDGjHj071QN20LucGBJIEps.nProyMmM0jzQkEsq3f7hQ0POl40J86OVYePEBI9gRFI&dib_tag=se&keywords=libro+ramon+valls+corrochano&qid=1728129753&sprefix=libro+ramon+valls+corrochan%2Caps%2C165&sr=8-2" target="_blank">
            <img src="../../../assets/libros/libro1.jpg" alt="Portada del Libro 1">
        </a>
        <h3>El Método de los 7 Puntos</h3>
        
        <p>Con este libro se enseña un método sencillo para resolver cualquier 
        tipo de supuesto práctico que tenga que solucionarse por medio de una propuesta 
        didáctica. Se explica mediante diferentes 
        ejemplos cuáles son los pasos que se deben seguir para elaborar un bonito supuesto, 
        los puntos que deben desarrollarse y qué deben contener cada uno de ellos, 
        logrando de esta forma deslumbrar al tribunal.</p>
        <h4>Comprar en:</h4>
        <a href="https://www.amazon.es/supuestos-pr%C3%A1cticos-educaci%C3%B3n-Terap%C3%A9utica-Orientaci%C3%B3n/dp/8418854308/ref=sr_1_2?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2EJKAEMG1B3DA&dib=eyJ2IjoiMSJ9.L1b6iFlb58OKSzULRxjq19ripoyI3T-oPR9q7CEseKDGjHj071QN20LucGBJIEps.nProyMmM0jzQkEsq3f7hQ0POl40J86OVYePEBI9gRFI&dib_tag=se&keywords=libro+ramon+valls+corrochano&qid=1728129753&sprefix=libro+ramon+valls+corrochan%2Caps%2C165&sr=8-2" target="_blank">Amazon</a><br>
        <a href="https://www.elcorteingles.es/libros/A41608753-todo-sobre-supuestos-practicos-en-educacion-el-metodo-de-los-7-puntos-primaria-pedagogia-terapeutica-eso-y-orientacion-tapa-blanda/?color=default" target="_blank">Corte inglés</a><br>
        <a href="https://www.ellibrotecnico.com/libro/todo-sobre-supuestos-practicos-en-educacion-el-metodo-de-los-7-puntos_605681" target="_blank">Libro técnico</a><br>
        <a href="https://www.agapea.com/Ramon-Valls-Corrochano/Todo-sobre-supuestos-practicos-en-educacion-El-metodo-de-los-7-puntos-Primari-Pedagogia-Terapeutica-ESO-y-Orientacion-9788418854309-i.htm" target="_blank">Agapea (Canarias)</a><br>
      </div>
      <div class="libro-item">
        <a href="https://www.amazon.es/Programaci%C3%B3n-Did%C3%A1ctica-Situaciones-Aprendizaje-LOMLOE/dp/8419391409/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2EJKAEMG1B3DA&dib=eyJ2IjoiMSJ9.L1b6iFlb58OKSzULRxjq19ripoyI3T-oPR9q7CEseKDGjHj071QN20LucGBJIEps.nProyMmM0jzQkEsq3f7hQ0POl40J86OVYePEBI9gRFI&dib_tag=se&keywords=libro+ramon+valls+corrochano&qid=1728131486&sprefix=libro+ramon+valls+corrochan%2Caps%2C165&sr=8-1" target="_blank">
            <img src="../../../assets/libros/libro2.jpg" alt="Portada del Libro 2">
        </a>
        
        <h3>Programación Didáctica y Situaciones de Aprendizaje Desde la LOMLOE</h3>
        <p>Este libro explica de una forma clara, sencilla y práctica cada uno de los apartados que compone una programación didáctica y sus situaciones de aprendizaje, basados en la LOMLOE. A lo largo de todo el libro, se expone una forma de programar lúdica, divertida e innovadora, donde, por medio de las nuevas tecnologías, se logre llegar a todo el alumnado, especialmente a los más desfavorecidos, logrando así los principios fundamentales de la inclusión y la aplicación del diseño universal del aprendizaje.</p>
        <h4>Comprar en:</h4>
        <a href="https://www.amazon.es/Programaci%C3%B3n-Did%C3%A1ctica-Situaciones-Aprendizaje-LOMLOE/dp/8419391409/ref=sr_1_1?__mk_es_ES=%C3%85M%C3%85%C5%BD%C3%95%C3%91&crid=2EJKAEMG1B3DA&dib=eyJ2IjoiMSJ9.L1b6iFlb58OKSzULRxjq19ripoyI3T-oPR9q7CEseKDGjHj071QN20LucGBJIEps.nProyMmM0jzQkEsq3f7hQ0POl40J86OVYePEBI9gRFI&dib_tag=se&keywords=libro+ramon+valls+corrochano&qid=1728131486&sprefix=libro+ramon+valls+corrochan%2Caps%2C165&sr=8-1" target="_blank">Amazon</a><br>
        <a href="https://www.elcorteingles.es/libros/A46265452-programacion-didactica-y-situaciones-de-aprendizaje-desde-la-lomloe-tapa-blanda/?stype=text_box_multi&color=default" target="_blank">Corte inglés</a><br>
        <a href="https://www.ellibrotecnico.com/libro/programacion-didactica-y-situaciones-de-aprendizaje-desde-la-lomloe_632211" target="_blank">Libro técnico</a><br>
        <a href="https://www.agapea.com/Ramon-Valls-Corrochano/Programacion-Didactica-y-Situaciones-de-Aprendizaje-desde-la-LOMLOE-9788419391407-i.htm" target="_blank">Agapea (Canarias)</a><br>
      </div>
      <div class="libro-item">
        <a href="https://www.amazon.es/Supuestos-Pr%C3%A1cticos-Terap%C3%A9utica-Secundaria-Orientaci%C3%B3n/dp/8410460459/?_encoding=UTF8&pd_rd_w=Cgn7p&content-id=amzn1.sym.490e87e3-ae73-41bd-9f14-8bbe63300856&pf_rd_p=490e87e3-ae73-41bd-9f14-8bbe63300856&pf_rd_r=258-5990946-9046705&pd_rd_wg=HjpCq&pd_rd_r=5af6bb9b-02ef-4121-944a-47b0cd282f1d&ref_=aufs_ap_sc_dsk" target="_blank">
            <img src="../../../assets/libros/libro3.jpg" alt="Portada del Libro 3">
        </a>
        <h3>Supuestos Prácticos en Educación</h3>
        <p>Este libro es una guía práctica para que el opositor sepa enfrentarse a los retos y desafíos planteados en los distintos supuestos prácticos, tanto para Educación Primaria, Educación Secundaria y Bachillerato como en Orientación. Mediante el conocimiento de LOMLOE, los documentos legislativos de cada Comunidad Autónoma y los diversos ejemplos que acompañan las explicaciones de cada uno de los apartados que conforman la resolución de los supuestos prácticos, invita al lector a reflexionar y decidir el mejor camino para resolver con éxito esa propuesta didáctica, la gestión de la diversidad existente en el aula y la aplicación tecnológica e innovadora de la enseñanza.</p>
        <h4>Comprar en:</h4>
        <a href="https://www.amazon.es/Supuestos-Pr%C3%A1cticos-Terap%C3%A9utica-Secundaria-Orientaci%C3%B3n/dp/8410460459/?_encoding=UTF8&pd_rd_w=Cgn7p&content-id=amzn1.sym.490e87e3-ae73-41bd-9f14-8bbe63300856&pf_rd_p=490e87e3-ae73-41bd-9f14-8bbe63300856&pf_rd_r=258-5990946-9046705&pd_rd_wg=HjpCq&pd_rd_r=5af6bb9b-02ef-4121-944a-47b0cd282f1d&ref_=aufs_ap_sc_dsk" target="_blank">Amazon</a><br>
        <a href="https://www.elcorteingles.es/libros/A54981221-supuestos-practicos-en-educacion-el-metodo-de-los-7-puntos-desde-la-lomloe-primaria-pedagogia-terapeutica-secundaria-y-orientacion-tapa-blanda/?color=Sin+especificar" target="_blank">Corte inglés</a><br>
        <a href="https://www.agapea.com/Ramon-Valls-Corrochano/Supuestos-Practicos-en-Educacion-El-metodo-de-los-7-puntos-desde-la-LOMLOE-Primaria-Pedagogia-Terapeutica-Secundaria-y-Orientacion-9788410460454-i.htm" target="_blank">Agapea (Canarias)</a><br>
      </div>
    </div>
  </section>
  
