.cookie-banner {
  position: fixed;
  bottom: 0; /* pegado al final */
  left: 0;
  width: 100%;
  background-color: #042d64; /* azul */
  color: #d5ddffb3; /* texto */
  padding: 15px 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 -2px 10px rgba(0,0,0,0.2);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 9999;
  animation: slideUp 0.5s forwards;
}

.cookie-content {
  display: flex;
  align-items: center;
  max-width: 900px;
  width: 100%;
  gap: 20px;
}

.cookie-logo img {
  width: 60px; /* un poco más pequeño */
  height: auto;
}

.cookie-text {
  flex: 1;
}

.cookie-text p {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 1.4;
}

.cookie-text p span.emoji {
  margin-left: 5px; /* espacio antes del emoji */
}

.cookie-buttons {
  display: flex;
  gap: 10px;
}

.accept-btn {
  background-color: #ad9551; /* dorado */
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
}

.accept-btn:hover {
  transform: scale(1.05);
}

.reject-btn {
  background-color: #7f7f7f; /* gris */
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
}

.reject-btn:hover {
  transform: scale(1.05);
}

.emoji {
    height: 10px;
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}
