<section class="wrapper">
    <div class="site-logo">
        <img (click)="indexActual(-1)" routerLink="/home" src="../../../../favicon.ico" class="custom-logo" alt="Ludenatura" decoding="async" fetchpriority="high">     		
    </div>
    <nav>
        
        <a (click)="indexActual(i)" [ngClass]="{'selected': selectedIndex === i}" [routerLink]="item.ruta" *ngFor="let item of items ; let i = index">
            {{item.title}}
        </a>
        <a (click)="indexActual(4)" [ngClass]="{'selected': selectedIndex === 4}" [routerLink]="'6278ed5s43sf23fevsn82-rdyrw5ym-ad112q-w334r-w2jshgfq2uei8dygw-dshbvacwujfnbwt5'" *ngIf="registerData.isAdmin">
            {{nameAdmin}}
        </a>
        
    </nav>
    <div class="login-button-container">
        <div *ngIf="!isLoggedIn" class="auth-buttons">
            <button class="btn btn-login" (click)="toggleLoginForm('login')">ACCESO</button>
        </div>

        <div *ngIf="isLoggedIn" class="cierre-sesion">
            <button (click)="logout()">Cerrar sesión</button>
        </div>
    </div>

    <div class="modal" *ngIf="muestraLogin">
        <div class="modal-content">
            <h2>Inicio de sesión</h2>
            <span class="close" (click)="closeLoginModal()">&times;</span>
            <form (ngSubmit)="onSubmit()" class="login-form">
                <input type="text" [(ngModel)]="email" name="email" placeholder="Correo electrónico" required>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Contraseña" required>
                <a (click)="contraOlvidada()">¿Olvidaste tu contraseña?</a>
                <button type="submit">Login</button>
                <button type="button" class="btn btn-login" (click)="toggleLoginForm('register')">No soy miembro</button>

            </form>
        </div>
    </div>

    <div class="modal" *ngIf="showContraOlvidada">
        <div class="modal-content">
            <h2>Restablecer contraseña</h2>
            <h3>Introduce el correo electrónico con el que te registraste, le mandaremos un email para restablecer su contraseña:</h3>
            <span class="close" (click)="closeModalPass()">&times;</span>
            <form (ngSubmit)="changePass()" class="login-form">
                <input type="text" [(ngModel)]="emailOlvidado" name="emailOlvidado" placeholder="Correo electrónico" required>
                <button type="submit">Restablecer Contraseña</button>
            </form>
        </div>

    </div>

    <div class="modal" *ngIf="showRegisterModal">
        <div class="modal-content">
            <span class="close" (click)="closeRegisterModal()">&times;</span>
            <h2 *ngIf="registerStep === 1">Registro</h2>
            <!--<h2 *ngIf="registerStep === 2">Elige tu plan</h2> -->

            <!-- Paso 1: Formulario de registro -->
            <div *ngIf="registerStep === 1" class="tab-content">
                <form (ngSubmit)="goToPlans()">
                    <input type="text" placeholder="Nombre completo" [(ngModel)]="registerData.fullName" name="fullName" required>
                    <input type="email" placeholder="Correo electrónico" [(ngModel)]="registerData.email" name="email" required>
                    <input type="password" placeholder="Contraseña" [(ngModel)]="registerData.password" name="password" required>
                    <input type="password" placeholder="Repite la contraseña" [(ngModel)]="registerData.confirmPassword" name="confirmPassword" required>

                    <button (click)="choosePlan('finRegistro')" class="btn btn-register">Finalizar registro</button>
                </form>
            </div>

            <!-- Paso 2: Planes de pago antes de registro
            <div *ngIf="registerStep === 2" class="tab-content plans">
                <div class="plan-card">
                    <h3>Curso 2026 - 2027</h3>
                    <p>Curso anual de formación para las oposiciones. Acceso a clases.</p>
                    <span class="price">39€/mes</span>
                    <button class="btn btn-register" (click)="choosePlan('membresia')">Elegir</button>
                </div>

                <div class="plan-card">
                    <h3>Pago Individual</h3>
                    <p>Compra cursos, talleres o materiales por separado.</p>
                    <span class="price">Tarifa fija</span>
                    <button class="btn btn-register" (click)="choosePlan('individual')">Elegir</button>
                </div>

                <div class="plan-card">
                    <h3>Solo Registro</h3>
                    <p>Registrate ahora, paga más adelante</p>
                    <button class="btn btn-register" (click)="choosePlan('pack')">Elegir</button>
                </div>

                <div class="container-backfinish">
                    <button class="btn btn-back" (click)="goBackToForm()">Atrás</button>
                    <button class="btn btn-back2" (click)="choosePlan('finRegistro')">Finalizar registro</button>
                </div>
            </div>
            -->
        </div>
    </div>

    <div class="hamburger-menu" (click)="toggleMenu()">
        &#9776;
    </div>
    <div 
    class="menu-overlay" 
    *ngIf="isMenuOpen" 
    (click)="closeMobileMenu()">
    </div>


    <div class="mobile-nav" [class.open]="isMenuOpen">
        <div class="mobile-links">

            <a (click)="indexActual(i); closeMobileMenu()"  
            [ngClass]="{'selected': selectedIndex === i}" 
            [routerLink]="item.ruta" 
            routerLinkActive="selected"
            *ngFor="let item of items; let i = index">
                {{item.title}}
            </a>

            <a (click)="indexActual(4); closeMobileMenu()" 
            [ngClass]="{'selected': selectedIndex === 4}" 
            [routerLink]="'6278ed5s43sf23fevsn82-rdyrw5ym-ad112q-w334r-w2jshgfq2uei8dygw-dshbvacwujfnbwt5'" 
            routerLinkActive="selected"
            *ngIf="registerData.isAdmin">
                {{nameAdmin}}
            </a>
        </div>

        <div class="mobile-auth">
            <button
                *ngIf="!isLoggedIn"
                class="btn-login"
                (click)="toggleLoginForm('login'); closeMobileMenu()">
                ACCESO
            </button>

            <button
                *ngIf="isLoggedIn"
                class="btn-login"
                (click)="logout(); closeMobileMenu()">
                Cerrar sesión
            </button>

        </div>
    </div>

</section>
