.quien-soy {
  padding: 80px 20px;
  font-family: 'Roboto', sans-serif;
}

.quien-soy .container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.quien-soy.intro {
  background: linear-gradient(135deg, #f5f7fa, #e2e8f0);
}
.quien-soy.intro .text {
  flex: 1;
}
.quien-soy.intro .text h1 {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #042d64;
}
.quien-soy.intro .text h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #042d64;
}
.quien-soy.intro .text p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  line-height: 1.7;
  color: #333;
}
.quien-soy.intro .image {
  flex: 1;
  text-align: center;
}
.quien-soy.intro .image img {
  max-width: 300px;
  border-top-right-radius: 200px;
  border-bottom-right-radius: 70px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  
  transition: transform 0.2s ease-out;
  will-change: transform;
}

.quien-soy.experiencia {
  background: #fff;
  text-align: left;
}
.quien-soy.experiencia h2 {
  font-size: 2rem;
  margin-bottom: 40px;
  color: #042d64;
}
.quien-soy.experiencia p {
  max-width: 80%;
  line-height: 1.7;
  color: #333;
  font-size: 1.1rem;
}

/* Sección CTA */
.quien-soy.cta {
  background: linear-gradient(55deg, #042d64, #5061adb3);
  color: white;
  text-align: center;
}
.quien-soy.cta h2 {
  font-size: 2.2rem;
  margin-bottom: 15px;
}
.quien-soy.cta p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}
.btn-suscripcion {
  background: linear-gradient(135deg, #ad9551, #6b540f);
  color: #042d64;
  font-size: 1.2rem;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 8px 20px rgba(0,0,0,0.45);
  transition: all 0.3s ease;
}
.btn-suscripcion:hover {
  background: linear-gradient(135deg, #6b540f, #ad9551);
  transform: scale(1.05);
}

.container-final {
  display: block;

}

.container-final p{
  margin-top: 50px;
}

@media (max-width: 768px) {

  .quien-soy {
    padding: 20px 15px;
  }

  .quien-soy .container {
    flex-direction: column;
    text-align: center;
  }

  /* Intro */
  .quien-soy.intro .text h1 {
    font-size: 2.2rem;
  }

  .quien-soy.intro .text h2 {
    font-size: 1.1rem;
  }

  .quien-soy.intro .text p {
    font-size: 1rem;
  }

  .quien-soy.intro .image {
    margin-top: 30px;
  }

  .quien-soy.intro .image img {
    max-width: 220px;
  }

  /* Experiencia */
  .quien-soy.experiencia {
    text-align: left;
  }

  .quien-soy.experiencia h2 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 30px;
  }

  .quien-soy.experiencia p {
    max-width: 100%;
    font-size: 1rem;
  }

  .quien-soy.cta h2 {
    font-size: 1.8rem;
  }

  .quien-soy.cta p {
    font-size: 1rem;
  }

  .btn-suscripcion {
    width: 100%;
    max-width: 320px;
  }
}