<section class="quien-soy-container">
    <div class="quien-soy-content">
      <div class="quien-soy-text">
        <h1>¿Quién Soy?</h1>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sit amet purus ut lorem lacinia tincidunt. Sed sit amet enim at nisi tristique tristique. Phasellus interdum, ligula nec ultrices feugiat, ipsum nisi scelerisque nunc, nec aliquam eros ligula id sapien. Suspendisse potenti. Sed id sagittis ligula, eget feugiat erat. Cras at purus sit amet libero ullamcorper dictum. Mauris vehicula ante id sem facilisis suscipit.
        </p>
      </div>
      <div class="quien-soy-image">
        <img src="../../../assets/homepage/iconoMateriales.png" alt="Imagen descriptiva de quien soy">
      </div>
    </div>
  </section>
  