.hero-container {
  background: linear-gradient(to left, #47538ab3, #042d64);
  color: #fff;
  padding: 60px 20px;
  text-align: center;
  border-radius: 12px;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.hero-content h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.hero-content h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 400;
}

.hero-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.hero-content h1,
.hero-content h2,
.hero-content p {
    color: #ffffff
}

.benefits-list {
  text-align: left;
  margin: 0 auto 30px;
  max-width: 500px;
  list-style: none;
  padding: 0;
}

.benefits-list li::before {
  content: "✔";
  color: #22c55e;
  margin-right: 10px;
}

.registro-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.registro-form input {
  padding: 12px 15px;
  border-radius: 8px;
  border: none;
  width: 300px;
  font-size: 1rem;
}

.registro-form button {
  background-color: #22c55e;
  color: #fff;
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s;
}

.registro-form button:disabled {
  background-color: #94a3b8;
  cursor: not-allowed;
}

.registro-form button:hover:not(:disabled) {
  background-color: #16a34a;
}

.microcopy {
  margin-top: 15px;
  font-size: 0.85rem;
  color: #d1d5db;
}

@media (max-width: 768px) {
  .hero-container {
    
    margin: 80px 40px;
    
  }

}
