<div class="footer">
    <a routerLink="/home">
        <img class="footer-logo" src="../../../../favicon.ico" alt="Logo">
    </a>    
    <p>Transformando esfuerzo en resultados</p>
    <app-social-links [muestraWhats]="false" [facebook]="facebook" [instagram]="instagram" [youtube]="youtube" ></app-social-links>
    <a>© Copyright rv.oposiciones.com. All Rights Reserved
        <br>Designed by <a href="https://www.linkedin.com/in/ram%C3%B3n-valls-martin-4a89923a1/">Ramón Valls Martín</a>
    </a>
</div>